
@{
    ViewData["Title"] = "Kontakt";
}


<section class="contact-page">
    <h1 class="main-heading">Kontakt</h1>
    <div class="contact-block">
        <p>Objednávat lze na <a href="">Facebook skupině</a></p>
        <p>V případě problému email: satkyturbany@seznam.cz</p>
    </div>
</section>
