@{
    ViewData["Title"] = "Home";
}

<section class="banner">
    <p class="banner_text">
        Ručně šité šátky, turbany a další věci.<a class="banner__button" asp-controller="product" asp-action="Index">Obchod</a>
    </p>
</section>

<section class="about-Me">
    <h2 class="about-Me__heading">O Mně</h2>
    <p class="about-Me__text">
        Vše zlé je pro něco dobré, nevěříte? Ale ano, je to tak. Autoimunitní
        onemocnění Alopecie mě dovedlo až sem, k šití šátků pro lidičky bez
        vlasů. Cesta se dostat až sem byla hodně dlouhá, ono když přijdete o
        vlasy, řasy a obočí ve 12 letech, to s vámi prostě pořádně zatočí.
        Trápení slzy a zase trápení. Jsou to jen vlasy, často slyšíte. Jenom
        vlasy? Pro toho, kdo o ně přávě příšel je to pohroma. Dokončila jsem
        základní školu, přehoupla se přes střední dále a dále až k hledání
        prvního zaměstání. Na pohovoru v šátku, jste prostě divná. No nic,
        život šel dál. A teď jsem tady, mamina na mateřské, která se rozhodla
        zahodit paruku a naučit se šít šátky. V současné době hledám
        příležitosti zapojení do projektů, spolupráci, možnost šířit povědomí
        o alopecii.
    </p>
</section>

<section class="about-Me__pictures">
    <figure>
        <img src="./pictures/AboutMe1.jpg"
             alt="Priklad tvorby"
             class="about-Me__pictures--300" />
    </figure>

    <figure>
        <img src="./pictures/AboutMe3.jpg"
             alt="Priklad tvorby"
             class="about-Me__pictures--300" />
    </figure>

    <figure>
        <img src="./pictures/AboutMe2.jpg"
             alt="Priklad tvorby"
             class="about-Me__pictures--300" />
    </figure>
</section>


